{% extends "admin/change_list.html" %}
{% block content_title %}
    <h2><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>  Statistiques sur les alertes </h2>
{% endblock %}
{% block result_list %}
{% load humanize %}
{{ my_num|intcomma }}
{% load staticfiles %}
<!--<script src="https://use.fontawesome.com/9333a3980f.js"></script>-->
<link rel="stylesheet" type="text/css" href="{% static "css/summary.css" %}" />
<div class=”results”>
<table id="summary">

<thead>
  <tr>
    <th>
      <div class=”text”>
        <a href=”#”>Maladie</a>
      </div>
    </th>
    <th>
      <div class=”text”>
        <a href=”#”>Feedback</a>
      </div>
    </th>
    <th>
      <div class=”text”>
        <a href=”#”>Total</a>
      </div>
    </th>

  </tr>
</thead>
<tbody>
  {% for row in summary %}
  <tr >
    <td> {{ row.disease }} </td>

    <td> <i class ="{{row.feedback_type}}" aria-hidden="true" ></i> {{  row.feedback_type }} </td>
    <td> {{ row.total }} </td>


  </tr>
  {% endfor %}
</tbody>
<tr style=”font-weight:bold; border-top:2px solid #DDDDDD;”>
           <td> Total </td>
           <td> {{ summary_total.total }} </td>

       </tr>
</table>
<h2 id="anomaly_time"> Les alertes à travers le temp </h2>
<div class='my-legend'>

<div class='legend-scale'>
  <ul class='legend-labels'>
    <li style="font-family: Roboto,Lucida Grande,DejaVu Sans,Bitstream Vera Sans,Verdana,Arial,sans-serif; font-size: 90%;"><span style='background:#28a717;'></span>Alerte confirmée</li>
    <li style="font-family: Roboto,Lucida Grande,DejaVu Sans,Bitstream Vera Sans,Verdana,Arial,sans-serif; font-size: 90%;"><span style='background:#f90303;'></span> Alerte déclinée</li>

  </ul>

</div>
</div>
<div class="bar-chart">
{% for x in summary_over_time %}

    <div class="bar" style="height:{{x.pct}}%;background-color:{{x.color}} ">
      <div  class="bar-tooltip">
        {{x.period | date:"Y"}}</br>

        total {{x.total}}
      </div>
    </div>

{% endfor %}
</div>


<script>

liste_confirmed = document.getElementsByClassName("confirmed");

  for (var i = 0; i < liste_confirmed.length; i++) {
    liste_confirmed[i].className+=" fa fa-check";
  }
liste_denied = document.getElementsByClassName("denied");

  for (var i = 0; i < liste_denied.length; i++) {
    liste_denied[i].className+=" fa fa-times-circle";
  }

</script>
{% endblock %}
{% block pagination %}{% endblock %}
